/* CSS for Doctor Registration Form */

h1 {
    color: rgb(0, 0, 0);
    font-size: 28px;
    text-align: center;
    margin-top: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    width: 80%;
    max-width: 600px;
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  form div {
    margin: 1rem 0;
    width: 100%;
  }
  
  label {
    display: block;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea,
  select {
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #008CBA;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #006080;
  }
  