nav {
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
  }
  
  a:hover {
    text-decoration: underline;
  }
  